/* Reset styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;

}

/* General styles */
h1 {
  font-size: 1.75em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.Main div {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  padding-left: 10px;
  padding-top: 35px;
  float: left;
  height: 150px;
  border: 2px solid black;
  background-color: rgb(158, 157, 157);
  position: relative;
}

.Main p {

  font-size: 1.25em;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  background-color: white;
  border: 2px solid black;
  border-top: 0px;
  border-right: 0px;
}

.Main .menu-item-title {
  font-weight: bold;
}

.Text1 p {
  background-color: pink;
}

.Text2 p {
  color: white;
  background-color: rgb(156, 77, 77);
}

.Text3 p {
  background-color: rgb(207, 207, 148);
}

.Text2 {
  padding-right: 20px;
}

.Text3 {
  padding-right: 20px;
}

/* Media Queries */
@media (min-width: 992px) {
  /* Desktop view */
  .Main div {
    margin: 20px;
    width: calc(33.33% - 40px); /* Adjust the width to account for margins */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Tablet view */
  .Main >div{
    margin: 10px;
  }
  .Main .Text3 {
    float:inline-start;
  }
  .Main .Text1 {
    width: calc(50% - 20px);/* as we have 10px margin so minus from both the left and
    right side so it will become 20px */
  }
  .Main .Text2 {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  /* Mobile view */
  .Main div {
    margin: 10px;
    float: inline-start;
  }
}
